<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm_system.springbootback.mapper.ComplainMapper">
    <select id="selectComplainPage" resultType="com.crm_system.springbootback.entity.Complain">
        select * from complain
        <where>
            <if test="keyword !=null and keyword !='' ">
                or name like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>
</mapper>