<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm_system.springbootback.mapper.ContractMapper">
    <select id="selectContractPage" resultType="com.crm_system.springbootback.entity.Contract">
        select * from contract
        <where>
            <if test="role_id==1">
                and part_b =#{username}
            </if>
            <if test="role_id==2">
                and seller =#{username}
            </if>
        </where>
    </select>
    <select id="selectByUsername" resultType="com.crm_system.springbootback.entity.Contract">
        select * from contract
        <where>
            part_b=#{username}
        </where>
    </select>
    <select id="selectByTrace_id" resultType="com.crm_system.springbootback.entity.Contract">
        select * from contract
        <where>
            trace_id=#{trace_id}
        </where>
    </select>
    <select id="selectMoneyByDate" resultType="double">
        select sum(money) from contract
        <where>
            creat_time between #{date} and DATE_SUB(#{date},INTERVAL -30 day)
        </where>
    </select>
    <select id="selectNum" resultType="int">
        select count(1) from contract
        <where>
            <if test="keyword !=null and keyword !='' ">
                or money_status like CONCAT('%',#{keyword},'%')
                or part_b like CONCAT('%',#{keyword},'%')
                or seller like CONCAT('%',#{keyword},'%')
                or money like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>
    <select id="selectMoneyByDateAndJob" resultType="Object">
        select sum(money) from contract
        <where>
            job=#{job} and creat_time between #{date} and DATE_SUB(#{date},INTERVAL -30 day)
        </where>
    </select>
</mapper>