<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm_system.springbootback.mapper.EmployeeMapper">
    <select id="selectEmployeePage" resultType="com.crm_system.springbootback.entity.Employee">
        select * from employee
        <where>
            <if test="keyword !=null and keyword !='' ">
                or username like CONCAT('%',#{keyword},'%')
                or department like CONCAT('%',#{keyword},'%')
                or email like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>
    <update id="updatePerformance">
        update employee set performance=#{performance}
        <where>
            username=#{judged_people}
        </where>
    </update>
    <select id="selectNum" resultType="int">
        select count(1) from employee
        <where>
            <if test="keyword !=null and keyword !='' ">
                or username like CONCAT('%',#{keyword},'%')
                or department like CONCAT('%',#{keyword},'%')
                or email like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>
    <select id="getPerformance" resultType="Double">
        select performance from employee ORDER BY performance desc limit 6
    </select>
    <select id="getUsername" resultType="String">
        select username from employee ORDER BY performance desc limit 6
    </select>
</mapper>