<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm_system.springbootback.mapper.EmployeeMapper">
    <select id="selectEmployeePage" resultType="com.crm_system.springbootback.entity.Employee">
        select * from employee
        <where>
            <if test="keyword !=null and keyword !='' ">
                or name like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>
    <update id="updatePerformance">
        update employee set performance=#{performance}
        <where>
            username=#{judged_people}
        </where>
    </update>
</mapper>