<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm_system.springbootback.mapper.JudgeMapper">
    <select id="selectAll" resultType="com.crm_system.springbootback.entity.Judge">
        select * from judge
    </select>
    <select id="selectPerformanceByDate" resultType="com.crm_system.springbootback.entity.Judge">
        select * from judge
        <where>
            judged_people=#{judged_people} and judge_time between #{judge_time} and DATE_SUB(#{judge_time},INTERVAL -30 day)
        </where>
    </select>
</mapper>