<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm_system.springbootback.mapper.TraceMapper">
    <select id="selectTracePage" resultType="com.crm_system.springbootback.entity.Trace">
        select * from trace
        <where>
            <if test="keyword !=null and keyword !='' ">
                or customer_name like CONCAT('%',#{keyword},'%')
            </if>
            <if test="fromTime!=null and fromTime !='' and toTime!=null and toTime !='' ">
                and trace_time between #{fromTime} and #{toTime}
            </if>
            <if test="role_id==2">
                and input_user =#{username}
            </if>
        </where>
    </select>
    <select id="selectByname" resultType="String">
        select input_user from trace
        <where>
        <if test="username!=null and username!=''">
            customer_name=#{username}
        </if>
        </where>
    </select>
    <select id="select" resultType="com.crm_system.springbootback.entity.Trace">
        select * from trace
        <where>
            input_user=#{input_user} and trace_time between #{date} and DATE_SUB(#{date},INTERVAL -30 day)
        </where>
    </select>
    <select id="selectNum" resultType="int">
        select count(1) from trace
        <where>
            <if test="keyword !=null and keyword !='' ">
                customer_name like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>
    <select id="selectTop4ByDate" resultType="com.crm_system.springbootback.entity.Trace">
        select * from trace order by trace_time desc  limit 5
    </select>
</mapper>